:root {
    --background: #FFF;
    --text: #000;
    --highlight: #EEE;
    --outline: #DDD;
    --light: #777;
    --blue: #AAAAFF;
  }

body {
    top: 0;
    margin: 0;
    font-family: "IBM Plex Sans", --apple-system, sans-serif;
    font-size: 14px;
    background-color: var(--background);
    background-size: 50vw;
    color: var(--text);
}

main {
    width: calc(100% - 20px);
    max-width: 600px;
    margin: 0 auto;
}

section {
    margin: 40px 0;
    background-color: var(--background);
    border: 2px solid var(--outline);
    border-radius: 10px;
    overflow: hidden;
}

section div {
    padding: 16px;
}

div.header {
    background-color: var(--highlight);
}

section div.header, section div.row {
    display: flex;
    flex-direction: row;
}

section div.row img {
    width: 18px;
    height: 18px;
}

section div.header a, section div.row a {
    text-decoration: none;
    color: var(--text);
}

section div.row a {
    margin-left: 10px;
}

section div span {
    align-content: flex-end;
    margin-left: auto;
    color: var(--light);
}

section div.row, section div.content {
    border-top: 2px solid var(--outline);
}

section div.header a {
    font-weight: 600;
    text-decoration: none;
}

section div.content {
    padding: 32px;
}

section div.content h1, section div.content h2, section div.content h3 {
    font-weight: 600;
}

section div.content h1 {
    font-size: 24px;
    margin: 0 0 24px 0;
}

section div.content h2 {
    font-size: 20px;
    margin: 24px 0 16px 0;
}

section div.content h3 {
    font-size: 16px;
    margin: 20px 0 0 0;
}

section div.content p {
    font-size: 16px;
    margin: 16px 0;
}

section div.content ul, section div.content ol {
    font-size: 16px;
    margin: 8px 0 4px 0;
    padding: 0 0 0 24px;
}

section div.content li {
    margin: 4px 0;
}

section div.content a {
    color: var(--light);
}

a:hover {
    text-decoration: underline !important;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    /* :root {
      --background: #22272E;
      --text: #ACBAC7;
      --highlight: #2D333B;
      --outline: #434C56;
      --light: #768390;
      --blue: #AAAAFF;
    } */

    :root {
        --background: #000;
        --text: #FFF;
        --highlight: #111;
        --outline: #222;
        --light: #AAA;
        --blue: #AAAAFF;
    }

    section div.row img {
        filter: invert(100%);
    }
}