:root {
    --primary: #FFFFFF;
    --secondary: #000000;
  }

body {
    top: 0;
    margin: 0;
    font-family: "Archivo";
    font-size: 16px;
    background-color: var(--primary);
    color: var(--secondary);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 100%;
    min-height: 90vh;
    margin: 0 auto;
    padding: 5vh 20px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0 0 0;
}

p {
    font-weight: 400;
    margin: 8px 0;
}
p.highlight {
    font-style: italic;
}

ul {
    margin: 16px 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 4px 0;
}

a {
    color: var(--secondary);
}

img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    border: 1px solid var(--secondary);
}

@media (prefers-color-scheme: dark) {
    :root {
      --primary: #000000;
      --secondary: #FFFFFF;
    }
  
    img {
      /* filter: invert(1); */
    }
}